<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--API URL-->
		<add key="UrlApi" value="https://localhost:7288/api/"/>
		<!--UNIVERSITY ENDPOINTS-->
		<add key="CareerEndpointUrl" value="Career"/>
		<add key="StudentEndpointUrl" value="Student"/>
		<!--SECURITY ENDPOINTS-->
		<add key="UserEndpointUrl" value="User"/>
		<add key="RoleEndpointUrl" value="Role"/>
		<add key="UserRoleEndpointUrl" value="UserRole"/>
		<!--LIBRARY ENDPOINTS-->
		<add key="AuthorEndpointUrl" value="Author"/>
		<add key="BookAuthorEndpointUrl" value="BookAuthor"/>
		<add key="BookEndpointUrl" value="Book"/>
		<add key="BookLoanEndpointUrl" value="BookLoan"/>
		<add key="BookSubCategoryEndpointUrl" value="BookSubCategory"/>
		<add key="CategoryEndpointUrl" value="Category"/>
		<add key="MonographAuthorEndpointUrl" value="MonographAuthor"/>
		<add key="MonographEndpointUrl" value="Monograph"/>
		<add key="MonographLoanEndpointUrl" value="MonographLoan"/>
		<add key="PublisherEndpointUrl" value="Publisher"/>
		<add key="SubCategoryEndpointUrl" value="SubCategory"/>
	</appSettings>
</configuration>