<h1>Préstamo de libros</h1>

<div class="filter-container">
  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ej. Enciclopedia del lenguaje C"
      #input
    />
  </mat-form-field>
</div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Definición de la columna bookLoanId -->
    <ng-container matColumnDef="bookLoanId">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.bookLoanId }}</td>
    </ng-container>

    <!-- Definición de la columna typeOfLoan -->
    <ng-container matColumnDef="typeOfLoan">
      <th mat-header-cell *matHeaderCellDef>Tipo de préstamo</th>
      <td mat-cell *matCellDef="let element" class="typeOfLoan-cell">
        {{ element.typeOfLoan }}
      </td>
    </ng-container>

    <!-- Definición de la columna state -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">{{ element.state }}</td>
    </ng-container>

    <!-- Definición de la columna loanDate -->
    <ng-container matColumnDef="loanDate">
      <th mat-header-cell *matHeaderCellDef>Fecha de solicitud</th>
      <td mat-cell *matCellDef="let element">{{ element.loanDate }}</td>
    </ng-container>

    <!-- Definición de la columna dueDate -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef>Fecha de devolución</th>
      <td mat-cell *matCellDef="let element">
        @if (element.dueDate && element.dueDate !== '0001-01-01T00:00:00'){
          {{ element.dueDate | date:'dd/MM/yyyy HH:mm:ss' }}
        } @else {
          SIN APROBAR
        }
      </td>
    </ng-container>

    <!-- Definición de la columna returnDate -->
    <ng-container matColumnDef="returnDate">
      <th mat-header-cell *matHeaderCellDef>Fecha entregado</th>
      <td mat-cell *matCellDef="let element">
        @if (element.returnDate && element.returnDate !== '0001-01-01T00:00:00'){
          {{ element.returnDate | date:'dd/MM/yyyy HH:mm:ss' }}
        } @else {
          SIN ENTREGAR
        }
      </td>
    </ng-container>

    <!-- Definición de la columna student -->
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef>Estudiante</th>
      <td mat-cell *matCellDef="let element">
        <app-student-card [student]="element?.student"></app-student-card>
      </td>
    </ng-container>

    <!-- Definición de la columna book -->
    <ng-container matColumnDef="book">
      <th mat-header-cell *matHeaderCellDef>Libro</th>
      <td mat-cell *matCellDef="let element" class="book-card-cell">
        <app-book-card [book]="element?.book"></app-book-card>
      </td>
    </ng-container>

    <ng-container matColumnDef="borrowedUser">
      <th mat-header-cell *matHeaderCellDef>Aprobado por</th>
      <td mat-cell *matCellDef="let element">
        @if (element?.borrowedUser?.userName) {
        {{ element.borrowedUser.userName }}
        } @else { SIN APROBAR }
      </td>
    </ng-container>

    <ng-container matColumnDef="returnedUser">
      <th mat-header-cell *matHeaderCellDef>Recibido por</th>
      <td mat-cell *matCellDef="let element">
        @if (element?.returnedUser?.userName) {
        {{ element.returnedUser.userName }}
        } @else { SIN RECIBIR }
      </td>
    </ng-container>

    <!-- Columna de opciones -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <!-- Iconos a mostrar en la columna -->
      <mat-cell *matCellDef="let element" class="options-mat-cell">
        <div class="options-div">
          <mat-icon
            fontIcon="assignment"
            matTooltip="Préstar libro"
            matTooltipPosition="below"
            (click)="updateBorrowedBookLoanClick(element)"
          ></mat-icon>
          <mat-icon
            fontIcon="assignment_return"
            matTooltip="Devolver libro"
            matTooltipPosition="below"
            (click)="updateReturnedBookLoanClick(element)"
          ></mat-icon>
          <mat-icon
            fontIcon="delete"
            matTooltip="Eliminar"
            matTooltipPosition="below"
            (click)="deleteBookLoanClick(element)"
          ></mat-icon>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Vincular arreglo que contiene el texto de las columnas que debe coincidir con la definición de cada una -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No hay datos que coincidan con el filtro "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>

<!-- Agregar componente de paginado -->
<mat-paginator
  [pageSizeOptions]="[15, 30, 50, 100]"
  aria-label="Selecciona página de Préstamo de libros"
></mat-paginator>
