table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-monographLoanId {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-input {
    margin-right: 30px;
}

.add-button {
    min-width: auto;
}

.options-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.table-container {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.options-mat-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.monograph-card-cell {
    width: 500px;
}