/*----------------------------------------*/
.monograph-loan-section {
    display: grid;
    grid-template-rows: 200px 2fr 50px;
}

/*----------------------------------------*/
.filter-options-container {
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    align-items: center;
}

.filter-parameters-form {
    display: grid;
    grid-template-columns: 1fr 50px;
    column-gap: 10px;
}

.refresh-button {
    background-color: #155724;
    color: white;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 100px;
}

.refresh-button + .filter-parameters-form {
    grid-row: 2 / 3;
}

.filter-parameters-form + .filter-parameters-form {
    grid-column: 2 / 3;
}

/*----------------------------------------*/

.filter-div {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 10px;
    align-items: center;
}

.filter-div-carnet {
    display: grid;
    grid-template-columns: 1fr 50px;
    column-gap: 10px;
    align-items: center;
}

.text-form-span {
    font-size: 16px;
    font-weight: bold;
}

.text-span {
    font-size: 16px;
    font-weight: bold;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.filter-matselect {
    width: 100%;
}

.span-width {
    width: 100px;
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-monographLoanId {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-input {
    margin-right: 30px;
}

.add-button {
    min-width: auto;
}

.options-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.table-container {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.options-mat-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.monograph-card-cell {
    width: 500px;
}