<!--Titulo-->
<h2 mat-dialog-title>{{ dialogData.title }}</h2>

<!--Contenido-->
<mat-dialog-content class="dialog-content">
  <form [formGroup]="returnBookForm" (ngSubmit)="onSubmit()" class="returnBook-form">
    <h4>¿Seguro que desea devolver el libro?</h4>

    <!--Acciones-->
    <mat-dialog-actions align="end" class="dialog-actions">
      <!---->
      <button mat-button mat-dialog-close (click)="closeDialog(false)">
        Cancelar
      </button>
      <!---->
      <button mat-flat-button type="submit" color="primary" [disabled]="returnBookForm.invalid">
        Devolver libro
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
