.monograph-container-card {
    display: grid;
    margin: 10px;
    align-items: center;
    grid-template-rows: minmax(50px, 80px) 1fr;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    width: 500px;
}

header {
    display: grid;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.monograph-content-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
    align-content: center;
}

.monograph-information-div {
    display: grid;
    align-content: center;
    padding-top: 10px;
}

.monograph-information-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.monograph-image {
    width: 120px;
    height: auto;
    align-self: center;
}

span {
    font-size: 14px;
    font-weight: bold;
}

p {
    font-size: 14px;
}