<article class="monograph-container-card">
  <header>
    <h2>{{ monograph?.title }}</h2>
  </header>
  <main class="monograph-content-card">
    <!-- Imagen de la monografia -->
    <img
      [src]="monograph?.image ? monograph?.image : 'assets/images/default-monograph-img.svg'"
      class="monograph-image"
      alt="Monograph Image"
    />
    <!-- Información general de la monografia -->
    <div class="monograph-information-div">
      <!---->
      <section class="monograph-information-section">
        <p><span>Clasificación: </span>{{ monograph?.classification }}</p>
        <p><span>Fecha presentación: </span>{{ monograph?.presentationDate }}</p>
        <p><span>Carrera: </span>{{ monograph?.career?.name }}</p>
        <p><span>Autores: </span></p>
        <mat-chip-set aria-label="Autores">
          @for (author of monograph?.authors; track author?.name) {
          <mat-chip>{{ author?.name }}</mat-chip>
          }
        </mat-chip-set>
      </section>
    </div>
  </main>
</article>
