<h1>Préstamo de libros</h1>

<section class="book-loan-section">
  <section class="filter-options-container">
    <!---->
    <h2 class="text-span">Búsqueda de préstamos</h2>

    <button
      mat-flat-button
      class="refresh-button"
      (click)="reloadBookLoansClick()"
    >
      <mat-icon>refresh</mat-icon>
      Refrescar
    </button>

    <form
      [formGroup]="filterByStateForm"
      class="filter-parameters-form"
      (ngSubmit)="filterByState()"
    >
      <div class="filter-div">
        <span class="text-form-span span-width">Estado de la solicitud: </span>
        <mat-select formControlName="states" class="filter-matselect">
          <mat-option value="">Todos</mat-option>
          <mat-option value="CREADA">CREADA</mat-option>
          <mat-option value="ELIMINADA">ELIMINADA</mat-option>
          <mat-option value="PRESTADO">PRESTADO</mat-option>
          <mat-option value="DEVUELTO">DEVUELTO</mat-option>
        </mat-select>
      </div>
      <!---->
      <button
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="filterByStateForm.invalid"
        class="filter-button"
      >
        Filtrar
      </button>
    </form>

    <form
      [formGroup]="filterByTypeOfLoanForm"
      class="filter-parameters-form"
      (ngSubmit)="filterByTypeOfLoan()"
    >
      <div class="filter-div">
        <span class="text-form-span span-width">Tipo de préstamo: </span>
        <mat-select formControlName="typeOfLoans" class="filter-matselect">
          <mat-option value="">Todos</mat-option>
          <mat-option value="DOMICILIO">DOMICILIO</mat-option>
          <mat-option value="SALA">SALA</mat-option>
        </mat-select>
      </div>
      <!---->
      <button
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="filterByTypeOfLoanForm.invalid"
        class="filter-button"
      >
        Filtrar
      </button>
    </form>

    <form
      [formGroup]="filterByStudentCarnetForm"
      class="filter-parameters-form"
      (ngSubmit)="filterByStudentCarnet()"
    >
      <div class="filter-div-carnet">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Carnet del estudiante</mat-label>
          <input
            matInput
            placeholder="2014-0978U..."
            formControlName="carnet"
            [errorStateMatcher]="matcher"
            maxlength="10"
          />
          <!--validations-->
          @if(carnet?.hasError('required')) {
          <mat-error>Campo es <strong>obligatorio</strong></mat-error>
          } @else if(carnet?.hasError('minlength')) {
          <mat-error
            >Carnet del estudiante debe 10 caracteres ej. ####-####X</mat-error
          >
          }
        </mat-form-field>

        <!---->
        <button
          mat-flat-button
          type="submit"
          color="primary"
          [disabled]="filterByStudentCarnetForm.invalid"
          class="filter-button"
        >
          Filtrar
        </button>
      </div>
    </form>
  </section>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Definición de la columna bookLoanId -->
    <ng-container matColumnDef="bookLoanId">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.bookLoanId }}</td>
    </ng-container>

    <!-- Definición de la columna student -->
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef>Estudiante</th>
      <td mat-cell *matCellDef="let element">
        <app-student-card [student]="element?.student"></app-student-card>
      </td>
    </ng-container>

    <!-- Definición de la columna book -->
    <ng-container matColumnDef="book">
      <th mat-header-cell *matHeaderCellDef>Libro</th>
      <td mat-cell *matCellDef="let element" class="book-card-cell">
        <app-book-card [book]="element?.book"></app-book-card>
      </td>
    </ng-container>

    <!-- Definición de la columna typeOfLoan -->
    <ng-container matColumnDef="typeOfLoan">
      <th mat-header-cell *matHeaderCellDef>Tipo de préstamo</th>
      <td mat-cell *matCellDef="let element" class="typeOfLoan-cell">
        {{ element.typeOfLoan }}
      </td>
    </ng-container>

    <!-- Definición de la columna state -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">{{ element.state }}</td>
    </ng-container>

    <!-- Definición de la columna loanDate -->
    <ng-container matColumnDef="loanDate">
      <th mat-header-cell *matHeaderCellDef>Fecha de solicitud</th>
      <td mat-cell *matCellDef="let element">{{ element.loanDate }}</td>
    </ng-container>

    <!-- Definición de la columna dueDate -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef>Fecha de devolución</th>
      <td mat-cell *matCellDef="let element">
        @if (element.dueDate && element.dueDate !== '0001-01-01T00:00:00'){
        {{ element.dueDate | date : "dd/MM/yyyy HH:mm:ss" }}
        } @else { SIN APROBAR }
      </td>
    </ng-container>

    <!-- Definición de la columna returnDate -->
    <ng-container matColumnDef="returnDate">
      <th mat-header-cell *matHeaderCellDef>Fecha entregado</th>
      <td mat-cell *matCellDef="let element">
        @if (element.returnDate && element.returnDate !==
        '0001-01-01T00:00:00'){
        {{ element.returnDate | date : "dd/MM/yyyy HH:mm:ss" }}
        } @else { SIN ENTREGAR }
      </td>
    </ng-container>

    <ng-container matColumnDef="borrowedUser">
      <th mat-header-cell *matHeaderCellDef>Aprobado por</th>
      <td mat-cell *matCellDef="let element">
        @if (element?.borrowedUser?.userName) {
        {{ element.borrowedUser.userName }}
        } @else { SIN APROBAR }
      </td>
    </ng-container>

    <ng-container matColumnDef="returnedUser">
      <th mat-header-cell *matHeaderCellDef>Recibido por</th>
      <td mat-cell *matCellDef="let element">
        @if (element?.returnedUser?.userName) {
        {{ element.returnedUser.userName }}
        } @else { SIN RECIBIR }
      </td>
    </ng-container>

    <!-- Columna de opciones -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <!-- Iconos a mostrar en la columna -->
      <mat-cell *matCellDef="let element" class="options-mat-cell">
        <div class="options-div">
          <mat-icon
            fontIcon="assignment"
            matTooltip="Préstar"
            matTooltipPosition="below"
            (click)="updateBorrowedBookLoanClick(element)"
          ></mat-icon>
          <mat-icon
            fontIcon="assignment_return"
            matTooltip="Devolver"
            matTooltipPosition="below"
            (click)="updateReturnedBookLoanClick(element)"
          ></mat-icon>
          <mat-icon
            fontIcon="delete"
            matTooltip="Eliminar"
            matTooltipPosition="below"
            (click)="deleteBookLoanClick(element)"
          ></mat-icon>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Vincular arreglo que contiene el texto de las columnas que debe coincidir con la definición de cada una -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <!-- Agregar componente de paginado -->
  <mat-paginator
    [pageSizeOptions]="[15, 30, 50, 100]"
    aria-label="Selecciona página de Préstamo de libros"
  ></mat-paginator>
</section>
