<!--Titulo-->
<h2 mat-dialog-title>{{ dialogData.title }}</h2>
<!--Contenido-->
<mat-dialog-content class="dialog-content">
  <form [formGroup]="subCategoryForm" (ngSubmit)="onSubmit()">
    <!--Nombre de la sub categoria-->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        placeholder="Nombre..."
        formControlName="name"
        [errorStateMatcher]="matcher"
        maxlength="100"
      />
      <!--name validations-->
      @if(name?.hasError('required')) {
      <mat-error>Campo es <strong>obligatorio</strong></mat-error>
      } @else if(name?.hasError('maxlength')) {
      <mat-error>Nombre de la categoría debe tener un máximo de 100 caracteres</mat-error>
      }
    </mat-form-field>
    <!--Lista de categorias-->
    <mat-form-field class="form-field">
      <mat-label>Selecciona una categoría</mat-label>
      <mat-select formControlName="categoryId">
        @for (category of categories; track category) {
          <mat-option [value]="category.categoryId">{{ category.name }}</mat-option>
        }
      </mat-select>
      <!--category validation-->
      @if(categoryId?.hasError('required')) {
        <mat-error>Campo es <strong>obligatorio</strong></mat-error>
      }
    </mat-form-field>

    <!--Acciones-->
    <mat-dialog-actions align="end" class="dialog-actions">
      <!---->
      <button mat-button mat-dialog-close (click)="closeDialog(false)">
        Cancelar
      </button>
      <!---->
      <button
        mat-flat-button
        type="submit"
        color="primary"
        [disabled]="subCategoryForm.invalid"
      >
        Guardar
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
