<!--Toolbar-->
<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    aria-label="Toggle sidenav"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Home</span>

  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- Menu options -->
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <!--Toolbar-->
    <mat-toolbar>Bibliotecario</mat-toolbar>

    <!--Options-->
    <mat-nav-list>
      <!--Items-->
      @for(menu of menuItems; track menu) {
      <mat-list-item [routerLink]="menu.link">
        <button mat-button>
          <mat-icon>{{ menu.icon }}</mat-icon>
          {{ menu.label }}
        </button>
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <!--Content-->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
